body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffe6eb;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
}

img {
  width: 120px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #ddd;
  position: absolute;
}

.buttons {
  margin-top: 20px;
}

#message {
  margin-top: 20px;
  font-weight: bold;
  color: #ff4d6d;
}